* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #222629;
  color: #fff;
  height: 100vh;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #474b4f;
  color: #86c232;
  border-bottom: 1px solid #6b6e70;
  position: relative;
  outline: none;
  transition: 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 1px solid #86c232;
}

.input-block {
  position: relative;
}

.input-block::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(134,194,50,0.75);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(134,194,50,0.75);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(134,194,50,0.75);
}

header {
  padding: 15px 0;
  background-color: #474b4f;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(134,194,50,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(134,194,50,0.75);
  box-shadow: 0px 0px 15px 0px rgba(134,194,50,0.75);
}

a {
  text-decoration: none;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 16px 24px;
  margin: 0 15px;
  outline: none;
}

.btn-primary {
  font-size: 16px;
  background-color: #86c232;
  border-radius: 20px;
  color: #474b4f;
  transition: 0.2s;
  font-weight: 600;
  will-change: transform;
}

.btn-primary:hover {
  transform: translateY(-2px);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 1);
}

.btn-no-bg {
  padding: 5px;
  color: #86c232;
  font-weight: 600;
  transition: 0.2s;
  font-size: 16px;
}

.btn-no-bg:hover {
  transform: translateY(-2px);
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0 30px;
  color: #86c232;
  text-transform: uppercase;
}

.logo-text {
  letter-spacing: 5px;
}

.logo-o {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #86c232;
  border-radius: 50%;
  position: relative;
  margin: 0 5px 0 0;
}

.logo-o::before,
.logo-o::after {
  content: '';
  position: absolute;
  display: block;
  height: 7px;
  width: 7px;
  background-color: #474b4f;
  top: 13px;
  border-radius: 50%;
  transition: 0.5s;
}

.logo-o::before {
  transform: rotate(55deg);
}

.logo-o::after {
  transform: rotate(35deg);
}

.logo-o::before {
  left: 8px;
}

.logo-o::after {
  right: 8px;
}

.logo:hover .logo-o::after,
.logo:hover .logo-o::before {
  border-radius: 7px 0 7px 0;
  transition: 0.2s;
}

.auth-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.main-menu {
  position: absolute;
  left: 0;
  background-color: #474b4f;
  transform: translateX(-250px);
  transition: 0.5s;
  z-index: 90;
  min-height: calc(100vh - 80px);
}

.main-menu.slide-left {
  transform: translateX(0);
}

.main-menu .main-menu-toggle {
  position: absolute;
  left: 100%;
  top: 20px;
  width: 20px;
  height: 30px;
  background-color: #86c232;
  border-radius: 0 50% 50% 0;
  display: flex;
  align-items: center;
}

.main-menu .main-menu-toggle .angle {
  height: 10px;
  width: 10px;
  border-top: 3px solid #222629;
  border-right: 3px solid #222629;
  transform: rotate(45deg);
  transition: 0.7s;
}

.main-menu.slide-left .main-menu-toggle .angle {
  transform: translateX(5px) rotate(-135deg);
}

.main-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 250px;
  max-width: 250px;
}

.main-menu ul li .btn-primary {
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
}

.main-menu ul li .btn-add {
  padding: 16px 24px;
}

.main-menu .main-menu-elem {
  padding: 30px 20px;
  color: #86c232;
  border-bottom: 1px solid #86c232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.main-menu .main-menu-elem:hover {
  background-color: #222629;
}

.main-menu .main-menu-elem .building {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-menu .main-menu-elem .building .building-image {
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

.main-menu .main-menu-elem .building .building-image img {
  max-width: 100%;
  max-height: 100%;
}

.main-menu .has-only-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn-back {
  position: relative;
  color: #86c232;
  font-weight: 600;
  padding: 5px 20px;
  margin: 0;
  transition: 0.2s;
  font-size: 16px;
}

.btn-back::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  right: 100%;
  border-top: 3px solid #86c232;
  border-right: 3px solid #86c232;
  transform: translate(15px, 2px) rotate(-135deg);
  transition: 0.2s;
  will-change: transform;
}

.btn-back:hover::before {
  transform: translate(5px, 2px) rotate(-135deg);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(134,194,50,0.3);
  z-index: 110;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.modal.modal-show {
  visibility: visible;
  opacity: 1;
}

.modal .modal-content {
  margin: 0 auto;
  width: 600px;
  background-color: #474b4f;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 15px;
  transform: translateY(-100px);
  transition: 0.5s;
  will-change: transform;
}

.modal.modal-show .modal-content {
  transform: translateY(50px);
}

.modal-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #86c232;
}

.modal-content-top h3 {
  color: #86c232;
}

.modal-content-top .close-modal {
  color: #86c232;
  font-size: 30px;
  cursor: pointer;
}
